// примитивы
$color-white: #fff;
$color-yellow: #F2BE42;
$color-lightblue: #5186EC;
$color-blue: #1A73E8;
$color-darkred: #C84031;
$color-dark: #202124;
$color-gray: #767676;
$color-black: #000;
$color-darkblue: #0b0051;

:root {
  /* Базовые переменные */
  --bg-page: #{$color-white};
  --bg-header: #{rgba($color-white, 0.1)};
  --text-main: #{$color-dark};
  --border-main: #{$color-black};
}

[data-theme='dark'] {
  --bg-page: #{$color-darkblue};
  --bg-header: #{$color-darkblue};
  --text-main: #{$color-white};
  --border-main: #{$color-white};
}

$text-main: var(--text-main);
$bg-header: var(--bg-header);
$bg-body: var(--bg-page); // Привязываем к фону страницы

$text-header: var(--text-main);
$text-main: var(--text-main);
$text-specially: var(--text-main);

$bg-header: var(--bg-header);
$bg-body: var(--bg-body);

// Цвета текстов
$text-header: var(--text-main);
$text-main: var(--text-main);
$text-specially: var(--text-main);

// Цвета фона элементов (тоже заменяем на переменные)
$bg-header: var(--bg-header);
$bg-body: var(--bg-body);
$bg-footer: $color-gray;
$bg-header-line: $color-gray;

// Цвета активных элементов
$active-primary: rgba($color-darkred, 0.5);
$active-secondary: $color-blue;

// --- Цвета для статусов ---
$status-error:   $color-darkred;           // Ошибки
$status-warning: $color-yellow;            // Предупреждения
$status-info:    $color-lightblue;         // Инфо-подсказки
$status-success: #34A853;    

// 3. ГЕОМЕТРИЯ
$radius-s: 4px;      // Маленькие кнопки
$radius-m: 8px;      // Стандартные блоки/карточки
$radius-full: 999px; // Круглые кнопки (Compose)

$gap-s: 8px;         // Плотные списки
$gap-m: 16px;        // Основной отступ (между иконкой и текстом)
$gap-l: 24px;        // Отступы в модалках

$transition: all 0.2s ease-in-out;

// breakpoints
$desktop: 1024px;
$tablet: 768px;
$mobile: 480px;
$transition: all 0.3s ease;

