    // примитивы

$color-white: #fff;
$color-yellow: #F2BE42;
$color-lightblue: #5186EC;
$color-blue: #1A73E8;
$color-darkred: #C84031;
$color-dark: #202124;
$color-gray: #767676;
$color-black: #000;

    // семантические токены
// Цвета текстов
$text-header: $color-black;
$text-main: rgba($color-black, 0.54);
$text-specially: rgba($color-black, 0.6);

// Цвета фона элементов
$bg-header: rgba($color-white, 0.1);
$bg-body: rgba($color-white, 0.54);
$bg-footer: $color-gray;
$bg-header-line: $color-gray;

// Цвета активных элементов
$active-primary: rgba($color-darkred, 0.5);
$active-secondary: $color-blue;

// --- Цвета для статусов ---
$status-error:   $color-darkred;           // Ошибки
$status-warning: $color-yellow;            // Предупреждения
$status-info:    $color-lightblue;         // Инфо-подсказки
$status-success: #34A853;    

// 3. ГЕОМЕТРИЯ
$radius-s: 4px;      // Маленькие кнопки
$radius-m: 8px;      // Стандартные блоки/карточки
$radius-full: 999px; // Круглые кнопки (Compose)

$gap-s: 8px;         // Плотные списки
$gap-m: 16px;        // Основной отступ (между иконкой и текстом)
$gap-l: 24px;        // Отступы в модалках

$transition: all 0.2s ease-in-out;