@use '../../styles/vars' as *;

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: $gap-m;

    &__top {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__h1 {
        text-align: center;
    }
}

.nav {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center; 

    &__list {
    display: flex;
    list-style: none;
    gap: $gap-s;
    }

    &__item {
    display: flex;
    width: 13rem;
    height: 2rem;
    background-color: $active-primary;
    height: 3rem;           
    border-radius: 1.5rem;  
    overflow: hidden;
    border: 1px solid $color-black;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;

    box-shadow:
    inset 0 -3em 3em rgba(255, 238, 0, 0.1),
    0 0 0 2px rgb(115, 255, 0),
    0.3em 0.3em 1em rgba(85, 0, 255, 0.3);
}
}


