@use '../../styles/vars' as *;

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.header__top {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header__h1 {
    text-align: center;
}

.header__nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center; 
}

.nav__list {
    display: flex;
    gap: 20px;
}

.nav__item {
    display: flex;
    width: 13rem;
    height: 2rem;
    background-color: white;
    height: 3rem;           /* Фиксированная высота (ок. 48px) */
    border-radius: 1.5rem;  /* Ровно половина высоты сделает бока идеально полукруглыми */
    overflow: hidden;
    border: 1px solid black;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;

    box-shadow:
    inset 0 -3em 3em rgba(255, 238, 0, 0.1),
    0 0 0 2px rgb(115, 255, 0),
    0.3em 0.3em 1em rgba(85, 0, 255, 0.3);
}
