@use '../../styles/vars' as *;
.layout {
    display: grid;
    min-height: 100vh; // Обязательно, чтобы сетка растянулась на весь экран
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.layout__header {
    grid-row: 1;
    grid-column: 1/4;
    background-color: $bg-header; // Твой цвет
}

.layout__container {
    grid-row: 2/4;
    grid-column: 1/4;
    background-color: $bg-body;
}

.layout__footer {
    grid-row: 4;
    grid-column: 1/4;
    background-color: $bg-footer; // Твой цвет
}
