@use '../../styles/vars' as *;

.layout {
    display: grid;
    min-height: 100vh;
    // Твоя сетка была 4x3, но для хедера/футера обычно хватает строк
    grid-template-rows: auto 1fr auto; 
    gap: 10px;
    background-color: var(--bg-page); // Добавил фон для всего лайаута
    color: var(--text-main);
    transition: $transition;
}

.layout__header {
    // Используем переменную напрямую для надежности
    background-color: var(--bg-header); 
    color: var(--text-main);
    transition: $transition;
}

.layout__container {
    background-color: var(--bg-page);
    color: var(--text-main);
    transition: $transition;
}

.layout__footer {
    background-color: $bg-footer; // У тебя это статический серый
    color: var(--text-main);
    transition: $transition;
}