body {
    background: url('../slideshow/background.png') no-repeat center center fixed;
    background-size: cover;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(230, 176, 176);
}

a {
            color: rgba(255, 255, 255, 0.639);
            align-items: center;
            text-decoration:dashed;
}

h1, h2, h3 {
    display: grid;
    text-align: center;
    color: rgb(51, 42, 59);
    font-size: 2em;
}

p, ul, ol {
    font-size: 1.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 2%;

}

footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.402);
    display: block;
    width: 100%;
    height: 300px;
}
button {
    width: 3%;
    display: block;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.398);
    font-size: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
button:hover {
    width: 4%;
}
button.main-btn {
    display: grid;
    align-content: center;   /* Центрирует содержимое внутри (сетку) */
    justify-items: center;   /* Центрирует текст/иконки по горизонтали внутри */
    
    margin: 2rem auto;       /* АВТО-отступы по бокам выравнивают саму кнопку по центру */
    
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 20px;     /* Проценты могут сделать кнопку овальной, px надежнее */
    background-color: rgba(42, 22, 42, 0.834);
    width: 50%;
    height: 10rem; 
}

button.main-btn:hover {
}

#menu {
    display: none;
    flex-direction: column;
    width: fit-content;
    padding: 1%;
}
#slide, #menu {
    border-radius: 20px;
    opacity: 0.5;
}

#slide:hover, #menu:hover {
    border-radius: 20px;
    opacity: 1;
}

.cards-selection {
    display: flex;
}

#btn-back, #btn-next, #btn-add {
  filter: invert(100%);
}

.price-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cards-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
}